:host {
  ---kvlm-logo-brook-color: var(--kvlm-logo-brook-color, var(--kvlm-color-spray));
  ---kvlm-logo-typo-color: var(--kvlm-logo-typo-color, currentColor);
}

svg {
  height: 100%;
  width: auto;
}

path {
  fill: var(---kvlm-logo-typo-color);

  &.brook {
    fill: var(---kvlm-logo-brook-color);
  }
}
