@use '@/styles/utils' as utils;

:host {
  position: relative;
  display: block;
  padding-left: 55px;

  font-family: var(--kvlm-font-family-body);
  font-size: utils.rem(1.6);
  line-height: 1.25;

  @include utils.container(sm) {
    padding-left: 70px;
    font-size: utils.rem(4);
  }
}

h2 {
  margin: 0 0 0.75em;
  font-family: var(--kvlm-font-family-title);
  font-size: utils.rem(1.8);
  text-transform: uppercase;

  @include utils.container(sm) {
    font-size: utils.rem(4.5);
  }
}

time {
  font-size: var(---kvlm-timeline-item-date-font-size);
  text-transform: uppercase;
}

:host::before {
  position: absolute;
  top: max(calc(var(---kvlm-timeline-item-date-size) / 2), 8px);
  left: 0;
  transform: translateY(-50%);

  content: '';
  display: block;
  height: 26px;
  width: 26px;

  background-color: currentcolor;
  border-radius: 50%;
}

:host(:not([trailing]))::after {
  position: absolute;
  top: calc(max(calc(var(---kvlm-timeline-item-date-size) / 2), 8px) + 26px / 2 + 8px);
  bottom: calc(
    var(---kvlm-timeline-gap) * -1 - (var(---kvlm-timeline-item-date-size) - 26px) / 2 + 8px
  );
  left: calc((26px - 8px) / 2);

  content: '';
  display: block;
  width: 8px;

  background-color: currentcolor;
}
