:root {
  // colors
  --kvlm-color-grey-dark: #161615;
  --kvlm-color-grey-medium: #525252;
  --kvlm-color-grey-light: #eaeaea;

  --kvlm-color-spray: #6fbad9;
  --kvlm-color-turquoise: #75f0de;

  // fonts
  --kvlm-font-family-body: 'Fundamental Brigade', sans-serif;
  --kvlm-font-family-title: 'Super Grotesk', sans-serif;

  // sizes
  --kvlm-base-size-typo: 10px;
}
