@use 'sass:math';
@use '../../../../styles/utils';

// prettier-ignore
:host {
  ---kvlm-navigation-background-from: var(--kvlm-navigation-background-from, var(--kvlm-color-turquoise, red));
  ---kvlm-navigation-background-to: var(--kvlm-navigation-background-to, var(--kvlm-color-spray, blue));
  ---kvlm-navigation-color-typo: var(--kvlm-navigation-color-typo, var(--kvlm-color-grey-dark, #000));
  ---kvlm-navigation-height: var(--kvlm-navigation-height, var(--kvlm-header-offset, 100px));
  ---kvlm-navigation-scroll-distance: var(--kvlm-navigation-scroll-distance, 0);

  ---kvlm-navigation-shadow-spread: calc(5rem * var(---kvlm-navigation-scroll-distance));
  ---kvlm-navigation-shadow-opacity: calc(0.3 * var(---kvlm-navigation-scroll-distance));
}

:host {
  position: fixed;
  inset: 0 0 auto;
  z-index: 3;

  display: flex;
  height: var(---kvlm-navigation-height);
  align-items: center;
  flex-direction: row;

  box-shadow: 0 0 var(---kvlm-navigation-shadow-spread)
    rgba(0, 0, 0, var(---kvlm-navigation-shadow-opacity));
  color: var(---kvlm-navigation-color-typo);

  background: linear-gradient(
      150deg,
      var(---kvlm-navigation-background-from) 0%,
      var(---kvlm-navigation-background-to) 100%
    )
    no-repeat top / 100vw 100vh;
  transition: 0.3s ease;
  transition-property: color;
}

nav {
  @include utils.wrapper($padding: 0 5rem);
  display: flex;
  align-items: center;
  gap: 5rem;
}

a:first-child {
  color: inherit;
  margin-right: auto;
}

kvlm-logo {
  display: block;
  height: 4.6rem;
  // offset the logo to align with the typo with the content
  // the first letter is set to 7.8 in a container with 246.2 width
  transform: translateX(#{math.div(7.8, 246.2) * 10 - 1%});

  color: inherit;
  transition: color 0.3s ease;
}
