@use 'sass:math';
@use '../../../styles/utils.scss';

// prettier-ignore
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

.title {
  font-family: 'Super Grotesk', sans-serif;
  font-size: utils.relative-font-size(150);
  font-weight: 700;
  line-height: math.div(16, 15);
  text-transform: uppercase;
}
