@use '@/styles/utils' as utils;

:host {
  ---kvlm-timeline-gap: #{utils.size(4)};
  ---kvlm-timeline-item-date-font-size: #{utils.rem(3)};
  ---kvlm-timeline-item-date-size: calc(var(---kvlm-timeline-item-date-font-size) * 1.25);

  position: relative;
  display: flex;
  flex-direction: column;
  container-type: inline-size;
  gap: var(---kvlm-timeline-gap);
  margin-top: var(---kvlm-timeline-gap);

  @include utils.container(sm) {
    ---kvlm-timeline-item-date-font-size: #{utils.rem(7.5)};
    ---kvlm-timeline-gap: #{utils.size(13)};
  }

  &::before {
    position: absolute;
    left: calc((26px - 8px) / 2);
    bottom: calc(100% - max(calc(var(---kvlm-timeline-item-date-size) / 2), 8px) + 26px / 2 + 8px);
    height: utils.size(12.5);

    content: '';
    display: block;
    width: 8px;

    background: linear-gradient(
      to top,
      currentcolor,
      color-mix(in srgb, currentcolor, transparent 100%)
    );
  }
}
