@use 'sass:string';
@use '@/styles/utils';
@use '@/components/ui/typo/typo.component.scss' as typo;

$fonts: (
  'Fundamental Brigade': (
    600,
    400
  ),
  'Super Grotesk': (
    700
  )
);
@each $family, $weights in $fonts {
  $file-name: string.to-lower-case(utils.str-replace($family, ' ', '-'));
  @each $weight in $weights {
    @font-face {
      font-family: $family;
      src: url('@/assets/fonts/#{$file-name}-#{$weight}.woff2') format('woff2'),
        url('@/assets/fonts/#{$file-name}-#{$weight}.woff') format('woff'),
        url('@/assets/fonts/#{$file-name}-#{$weight}.ttf') format('truetype');
      font-weight: $weight;
      font-style: normal;
    }
  }
}

:root {
  @include utils.media-lt(utils.$breakpoint-navigation) {
    --kvlm-header-offset: 12.6rem;
  }

  @include utils.media-gt(utils.$breakpoint-navigation) {
    --kvlm-header-offset: 16rem;
  }

  --kvlm-color-grey-dark: #161615;
  --kvlm-color-grey-medium: #525252;
  --kvlm-color-grey-light: #eaeaea;

  --kvlm-color-spray: #6fbad9;
  --kvlm-color-turquoise: #75f0de;
}

html,
body {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  @extend .body;
  color: #161615;
}
