@use 'sass:math';
@use '@/styles/utils' as utils;

kvlm-typo {
  container-type: inline-size;

  * {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;

    @include utils.container(sm) {
      overflow-wrap: normal;
      word-wrap: normal;
      word-break: normal;
      hyphens: none;
    }
  }

  // prettier-ignore
  h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
  }

  // prettier-ignore
  h1, h2, h3, h4, h5, h6 {
    ~ p, ~ ul, ~ ol {
      margin-top: 1em;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  .kvlm-typo--title {
    font-family: 'Super Grotesk', sans-serif;
    font-size: utils.relative-font-size(150, $minimum: utils.rem(3.2), $maximum: utils.rem(12.5));
    font-weight: 700;
    line-height: math.div(16, 15);
    text-transform: uppercase;
  }

  .kvlm-typo--lead {
    font-family: 'Fundamental Brigade', sans-serif;
    font-size: utils.relative-font-size(40, $minimum: utils.rem(2.2), $maximum: utils.rem(3.5));
    line-height: 1.25;
  }

  .kvlm-typo--body {
    font-family: 'Fundamental Brigade', sans-serif;
    font-size: utils.relative-font-size(20, $minimum: utils.rem(1.6));
    line-height: 1.5;
  }
}
