@use '@/styles/utils' as utils;

// prettier-ignore
:host {
  ---kvlm-layout-min-height: var(--kvlm-layout-min-height, 100svh);
  ---kvlm-layout-header-offset-mobile: var(--kvlm-layout-header-offset, var(--kvlm-layout-header-offset-mobile, 12.6rem));
  ---kvlm-layout-header-offset-large: var(--kvlm-layout-header-offset, var(--kvlm-layout-header-offset-large, 16rem));
}

:host {
  display: flex;
  flex-direction: column;
  min-height: var(---kvlm-layout-min-height);

  container-type: inline-size;
  isolation: isolate;
}

header,
main {
  // prettier-ignore
  --kvlm-layout-header-offset: var(--kvlm-layout-header-offset, var(---kvlm-layout-header-offset-mobile));

  @include utils.container(sm) {
    // prettier-ignore
    --kvlm-layout-header-offset: var(--kvlm-layout-header-offset, var(---kvlm-layout-header-offset-desktop));
  }
}

header {
  position: relative;
  z-index: 1;
}

main {
  display: flex;
  flex-direction: column;

  flex: 1 0 auto;
}
