@import '../../../styles/utils';

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
  max-width: 700px;
}

label:not([hidden]) {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &:not(.checkbox) {
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
  }

  a {
    color: inherit;
  }
}

input:not([type='checkbox']) {
  all: unset;
  flex: 1 0 auto;
  cursor: text;
}

kvlm-button {
  margin-top: 20px;
}
