@use '../functions/size.function.scss' as *;

@mixin wrapper($max-width: size(120), $padding: 0 size(5)) {
  box-sizing: border-box;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: $padding;
}
