@use '../../../styles/utils';

// prettier-ignore
:host {
  ---kvlm-navigation-color-typo: var(--kvlm-navigation-color-typo, var(--kvlm-color-typo-dark, #000));
  ---kvlm-navigation-height: var(--kvlm-navigation-height, var(--kvlm-header-offset, 100px));
}

:host {
  position: fixed;
  inset: 0 0 auto;
  z-index: 3;

  display: flex;
  height: var(---kvlm-navigation-height);
  align-items: center;
  flex-direction: row;

  backdrop-filter: blur(20px);
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.2);
  color: var(---kvlm-navigation-color-typo);
}

nav {
  @include utils.wrapper($padding: 0 5rem);
}

kvlm-logo {
  display: block;
  height: 4.6rem;
}
