@use '@/styles/utils' as utils;

// prettier-ignore
:host {
  ---kvlm-section-background-from: var(--kvlm-section-background-from, var(--kvlm-section-background, var(--kvlm-color-turquoise, #fff)));
  ---kvlm-section-background-to: var(--kvlm-section-background-to, var(--kvlm-section-background, var(--kvlm-color-spray, #fff)));
  ---kvlm-section-color: var(--kvlm-section-color, var(--kvlm-color-grey-light));
}

:host {
  position: relative;
  display: block;

  box-sizing: border-box;
  container-type: inline-size;
  color: var(---kvlm-section-color);
}

[role='figure'] {
  position: sticky;
  top: var(---kvlm-layout-header-offset);
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    inset: 0 0 auto;
    height: calc(100svh - var(---kvlm-layout-header-offset));
    width: 100svw;

    background: linear-gradient(
      150deg,
      var(---kvlm-section-background-from) 0svh,
      var(---kvlm-section-background-to) 100svh
    );
    background-position: center calc(var(---kvlm-layout-header-offset) * -1);
    background-size: 100svw 100svh;
    background-repeat: no-repeat;
  }
}

kvlm-brook {
  position: absolute;
  inset: 50svh 0 auto;
  transform: translateY(-50%);

  width: 100%;

  pointer-events: none;
  user-select: none;
}

section {
  position: relative;
  min-height: calc(100svh - var(---kvlm-layout-header-offset));
  box-sizing: border-box;

  @include utils.wrapper($padding: utils.size(4));

  @include utils.container(sm) {
    @include utils.wrapper($padding: utils.size(5));

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
