@use '@/styles/utils' as utils;

// prettier-ignore
:host {
  ---kvlm-section-background-from: var(--kvlm-section-background-from, var(--kvlm-section-background, var(--kvlm-color-turquoise, #fff)));
  ---kvlm-section-background-to: var(--kvlm-section-background-to, var(--kvlm-section-background, var(--kvlm-color-spray, #fff)));
  ---kvlm-section-color: var(--kvlm-section-color, var(--kvlm-color-grey-light));
}

:host {
  position: relative;
  display: flex;
  padding-top: var(---kvlm-layout-header-offset);
  min-height: calc(100svh - var(---kvlm-layout-header-offset));

  container-type: inline-size;

  background: linear-gradient(
    150deg,
    var(---kvlm-section-background-from) 0%,
    var(---kvlm-section-background-to) 100%
  );
  color: var(---kvlm-section-color);
}

section {
  position: relative;
  z-index: 1;
  box-sizing: border-box;

  @include utils.wrapper($padding: utils.size(4));

  @include utils.container(sm) {
    @include utils.wrapper($padding: utils.size(5));

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

kvlm-brook {
  position: absolute;
  inset: 50% 0 auto auto;
  transform: translateY(-50%);

  width: 100%;
  min-width: 1400px;

  pointer-events: none;
  user-select: none;
}
